# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
env/
ENV/

# Data & Models (ignore raw & interim datasets by default)
data/raw/*
!data/raw/.gitkeep
data/interim/*
!data/interim/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/external/*
!data/external/.gitkeep
models/*
!models/.gitkeep
reports/figures/*
!reports/figures/.gitkeep
reports/tables/*
!reports/tables/.gitkeep
reports/results/*
!reports/results/.gitkeep

# Environment variables
.env

# IDEs
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/
